In [69]:
import pandas as pd
import numpy as np

In [70]:
data = pd.read_csv('track_geo_hourly.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244125 entries, 0 to 244124
Data columns (total 25 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              244125 non-null  int64
 1   count           244125 non-null  int64
 2   line_item_id    244124 non-null  object
 3   date            244125 non-null  object
 4   ad_type         244124 non-null  object
 5   device_os       243433 non-null  object
 6   device_type     237008 non-null  float64
 7   feed            54087 non-null   float64
 8   pincode         243976 non-null  Int64
 9   impression      244125 non-null  int64
 10  start           244125 non-null  int64
 11  first_quartile  244125 non-null  int64
 12  mid_point       244125 non-null  int64
 13  third_quartile  244125 non-null  int64
 14  complete        244125 non-null  int64
 15  creative_view   244125 non-null  int64
 16  click           244125 non-null  int64
 17  created_at      244125 non-null  object
 18  start_datetime  244125 non-null  object
 19  end_datetime    244125 non-null  object
 20  server_name     244125 non-null  object
 21  ssp             244124 non-null  object
 22  app_id          244124 non-null  object
 23  country         243944 non-null  object
 24  deal_id         243944 non-null  float64
dtypes: Int64(1), float64(3), int64(10), object(11)
memory usage: 46.8+ MB

In [97]:
#To find the CTR based on 'line_item_id'
ctr_data1 = data.groupby('line_item_id').agg({'click': 'sum', 'impression': 'sum'}).reset_index()
ctr_data1['CTR'] = ctr_data1['click'] / ctr_data1['impression']
filtered_ctr_data1 = ctr_data1[~ctr_data1['CTR'].isna() & np.isfinite(ctr_data1['CTR']) & (ctr_data1['CTR'] > 0)]
top_10_rows1 = filtered_ctr_data1.nlargest(10, 'CTR')
top_10_rows1.index = np.arange(1, len(top_10_rows1)+1)
print(top_10_rows1[['line_item_id','click', 'impression', 'CTR']])

              line_item_id  click  impression       CTR
1   J8StPzRXXtsyVfqQ3fVCM9    355       15118  0.023482
2   ViTEXZojgfeZfy4jgepPC5     99        5502  0.017993
3   TPd7vqyKcGikPjgvgRa9es  14770      874696  0.016886
4   R2yzV2SifRo3fdL3TeZRSx   1702      101917  0.016700
5   GjqbAfapKQuZqrvQQHaRNG   1545      100717  0.015340
6   4QvZGDp9sYb8viiQWCsFvN   1465       97366  0.015046
7   T2hEGNNfSraN6fsGbnxX6p    291       22638  0.012854
8   GvjBJA25A7qfpNTDHZgup9    277       24700  0.011215
9   SG4iV8g3WK2xJFckbNgV4b    610       63136  0.009662
10  j3GRhN7WJKpYjyXfSmYLHn    564       60895  0.009262

In [6]:
#To display maximum 104 rows
pd.set_option('display.max_rows',104)

In [98]:
#To find the CTR based on 'ad_type'
ctr_data2 = data.groupby('ad_type').agg({'click': 'sum', 'impression': 'sum'}).reset_index()
ctr_data2['CTR'] = ctr_data2['click'] / ctr_data2['impression']
print(ctr_data2[['ad_type', 'CTR']])

   ad_type       CTR
0    AUDIO  0.009787
1  DISPLAY  0.004055
2    VIDEO  0.014572

In [126]:
#To find the CTR based on 'device_os'
data['device_os'] = data['device_os'].str.upper()
ctr_data3 = data.groupby('device_os').agg({'click': 'sum', 'impression': 'sum'}).reset_index()
ctr_data3['CTR'] = ctr_data3['click'] / ctr_data3['impression']
filtered_ctr_data3 = ctr_data3[~ctr_data3['CTR'].isna() & np.isfinite(ctr_data3['CTR']) & (ctr_data3['CTR'] > 0)]
filtered_ctr_data3.index = np.arange(1, len(filtered_ctr_data3)+1)
print(filtered_ctr_data3[['device_os','click', 'impression','CTR']])

    device_os  click  impression       CTR
1     ANDROID  29998     2566734  0.011687
2   CHROME OS      4          85  0.047059
3         IOS    796      253736  0.003137
4      IPADOS      5         789  0.006337
5       LINUX      3        3415  0.000878
6        OS X      4         690  0.005797
7     WINDOWS      3       10189  0.000294
8  WINDOWS 10     77        2665  0.028893

In [116]:
#To find the CTR based on 'pincode'
ctr_data4 = data.groupby('pincode').agg({'click': 'sum', 'impression': 'sum'}).reset_index()
ctr_data4['CTR'] = ctr_data4['click'] / ctr_data4['impression']
filtered_ctr_data4 = ctr_data4[~ctr_data4['CTR'].isna() & np.isfinite(ctr_data4['CTR']) & (ctr_data4['CTR'] > 0)]
top_10_rows4 = filtered_ctr_data4.nlargest(10, 'CTR')
top_10_rows4.reset_index(drop=True, inplace=True) #optional
top_10_rows4.index = np.arange(1, len(top_10_rows1) + 1)
print(top_10_rows4[['pincode', 'CTR']])

    pincode       CTR
1    284001  1.166667
2    244231  1.000000
3    610103  1.000000
4    673574  1.000000
5    752069  1.000000
6    781347  1.000000
7    811103  1.000000
8    151205  0.900000
9    134005  0.500000
10   321609  0.500000

In [107]:
#To display maximum 12122 rows 
pd.set_option('display.max_rows', 2708)

In [24]:
#CTR Using Two Attributes

In [27]:
data

,id,count,line_item_id,date,ad_type,device_os,device_type,feed,pincode,impression,start,first_quartile,mid_point,third_quartile,complete,creative_view,click,created_at,start_datetime,end_datetime,server_name,ssp,app_id,country,deal_id
0,118700032,7,AbErnxVJawq4WtvBijUU5q,2023-09-07,audio,iOs,1.0,1.0,131001.0,1,1,1,1,1,1,1,0,2023-09-07 01:36:49.651681+00,2023-09-07 00:30:00+00,2023-09-07 01:29:59+00,track,Adswizz,624a98e7949e457302909674,in,2919.0
1,118700033,7,AbErnxVJawq4WtvBijUU5q,2023-09-07,audio,iOs,1.0,1.0,131101.0,1,1,1,1,1,1,1,0,2023-09-07 01:36:49.651681+00,2023-09-07 00:30:00+00,2023-09-07 01:29:59+00,track,Adswizz,624a98e7949e457302909674,in,2919.0
2,118699513,49,4QvZGDp9sYb8viiQWCsFvN,2023-09-07,video,Android,1.0,NaN,600046.0,7,7,7,6,6,6,7,0,2023-09-07 01:36:49.651681+00,2023-09-07 00:30:00+00,2023-09-07 01:29:59+00,track,Rubicon,5b2210af504f3097e73e0d8b,IND,2947.0
3,118699153,1,4QvZGDp9sYb8viiQWCsFvN,2023-09-07,video,Android,1.0,NaN,110016.0,0,0,0,0,0,0,0,0,2023-09-07 01:36:49.651681+00,2023-09-07 00:30:00+00,2023-09-07 01:29:59+00,track,Rubicon,5d3f052e979a1c2391016c04,IND,2972.0
4,118699154,158,4QvZGDp9sYb8viiQWCsFvN,2023-09-07,video,Android,1.0,NaN,110017.0,22,22,22,19,19,19,22,0,2023-09-07 01:36:49.651681+00,2023-09-07 00:30:00+00,2023-09-07 01:29:59+00,track,Rubicon,5b2210af504f3097e73e0d8b,IND,2947.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244120,118942198,8,fHawSL2kkB8KMZdoTZHT7B,2023-09-08,audio,iOS,1.0,NaN,600063.0,1,1,1,1,1,1,1,0,2023-09-08 00:36:53.817687+00,2023-09-07 23:30:00+00,2023-09-08 00:29:59+00,track,Rubicon,5b2210af504f3097e73e0d8b,IND,2929.0
244121,118942199,32,fHawSL2kkB8KMZdoTZHT7B,2023-09-08,audio,iOS,1.0,NaN,600064.0,4,4,4,4,4,4,4,0,2023-09-08 00:36:53.817687+00,2023-09-07 23:30:00+00,2023-09-08 00:29:59+00,track,Rubicon,5b2210af504f3097e73e0d8b,IND,2929.0
244122,118942200,8,fHawSL2kkB8KMZdoTZHT7B,2023-09-08,audio,iOS,1.0,NaN,600066.0,1,1,1,1,1,1,1,0,2023-09-08 00:36:53.817687+00,2023-09-07 23:30:00+00,2023-09-08 00:29:59+00,track,Rubicon,5b2210af504f3097e73e0d8b,IND,2929.0
244123,118942201,8,fHawSL2kkB8KMZdoTZHT7B,2023-09-08,audio,iOS,1.0,NaN,600067.0,1,1,1,1,1,1,1,0,2023-09-08 00:36:53.817687+00,2023-09-07 23:30:00+00,2023-09-08 00:29:59+00,track,Rubicon,5b2210af504f3097e73e0d8b,IND,2929.0
244124,118794804,1,NaN,2023-09-07,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,2023-09-07 11:36:44.326613+00,2023-09-07 10:30:00+00,2023-09-07 11:29:59+00,track,NaN,NaN,NaN,NaN

In [26]:
#To display maximum 25 rows 
pd.set_option('display.max_columns',25)

In [119]:
#To find the CTR based on 'device_os' for each 'ad_type'
data['device_os'] = data['device_os'].str.upper()
data['ad_type'] = data['ad_type'].str.upper()
CTR_data1 = data.groupby(['device_os', 'ad_type']).agg({'click': 'sum', 'impression': 'sum'}).reset_index()
CTR_data1['CTR'] = CTR_data1['click'] / CTR_data1['impression']
filtered_CTR_data1 = CTR_data1[~CTR_data1['CTR'].isna() & np.isfinite(CTR_data1['CTR']) & CTR_data1['CTR']>0]
filtered_CTR_data1.index = np.arange(1, len(filtered_CTR_data1)+1)
print(filtered_CTR_data1[['device_os','ad_type','click','impression','CTR']])

     device_os  ad_type  click  impression       CTR
1      ANDROID    AUDIO  23252     2091066  0.011120
2      ANDROID  DISPLAY     62       13635  0.004547
3      ANDROID    VIDEO   6684      462033  0.014466
4    CHROME OS    VIDEO      4          84  0.047619
5          IOS    AUDIO    786      251400  0.003126
6          IOS  DISPLAY      2        2149  0.000931
7          IOS    VIDEO      8         187  0.042781
8       IPADOS    AUDIO      1         736  0.001359
9       IPADOS    VIDEO      4          53  0.075472
10       LINUX    VIDEO      3         134  0.022388
11        OS X    VIDEO      4         399  0.010025
12     WINDOWS    AUDIO      3       10189  0.000294
13  WINDOWS 10    VIDEO     77        2665  0.028893

In [73]:
#To find the CTR based on 'ad_type' for each 'device_os'
data['device_os'] = data['device_os'].str.upper()
data['ad_type'] = data['ad_type'].str.upper()
CTR_data1X = data.groupby(['ad_type', 'device_os']).agg({'click': 'sum', 'impression': 'sum'}).reset_index()
CTR_data1X['CTR'] = CTR_data1X['click'] / CTR_data1X['impression']
filtered_CTR_data1X = CTR_data1X[~CTR_data1X['CTR'].isna() & np.isfinite(CTR_data1X['CTR']) & CTR_data1X['CTR']>0]
filtered_CTR_data1X.index = np.arange(1, len(filtered_CTR_data1X)+1)
print(filtered_CTR_data1X[['ad_type', 'device_os','click','impression','CTR']])

    ad_type   device_os  click  impression       CTR
1     AUDIO     ANDROID  23252     2091066  0.011120
2     AUDIO         IOS    786      251400  0.003126
3     AUDIO      IPADOS      1         736  0.001359
4     AUDIO     WINDOWS      3       10189  0.000294
5   DISPLAY     ANDROID     62       13635  0.004547
6   DISPLAY         IOS      2        2149  0.000931
7     VIDEO     ANDROID   6684      462033  0.014466
8     VIDEO   CHROME OS      4          84  0.047619
9     VIDEO         IOS      8         187  0.042781
10    VIDEO      IPADOS      4          53  0.075472
11    VIDEO       LINUX      3         134  0.022388
12    VIDEO        OS X      4         399  0.010025
13    VIDEO  WINDOWS 10     77        2665  0.028893

In [74]:
#To convert the data type of 'pincode' from float64 to Int64
data['pincode']=data['pincode'].astype('Int64')

In [78]:
#To find the CTR based on 'pincode' for each 'ad_type'
CTR_data2 = data.groupby(['pincode', 'ad_type']).agg({'click': 'sum', 'impression': 'sum'}).reset_index()
CTR_data2['CTR'] = CTR_data2['click'] / CTR_data2['impression']
filtered_CTR_data2 = CTR_data2[~CTR_data2['CTR'].isna() & np.isfinite(CTR_data2['CTR']) & CTR_data2['CTR']>0]
TOP_10_rows2 = filtered_CTR_data2.nlargest(10, 'CTR')
TOP_10_rows2.index = np.arange(1, len(TOP_10_rows2)+1)
print(TOP_10_rows2[['pincode', 'ad_type','click','impression','CTR']])

    pincode ad_type  click  impression       CTR
1    284001   AUDIO      7           6  1.166667
2    244231   AUDIO      1           1  1.000000
3    610103   AUDIO      2           2  1.000000
4    673574   AUDIO      2           2  1.000000
5    752069   AUDIO      1           1  1.000000
6    781347   AUDIO      1           1  1.000000
7    811103   AUDIO      1           1  1.000000
8    151205   AUDIO      9          10  0.900000
9    134005   AUDIO      1           2  0.500000
10   321609   AUDIO      1           2  0.500000

In [36]:
#To display maximum 13137 rows 
pd.set_option('display.max_rows', 13137)

In [80]:
#To find the CTR based on 'pincode' for each 'device_os'
CTR_data3 = data.groupby(['pincode', 'device_os']).agg({'click': 'sum', 'impression': 'sum'}).reset_index()
CTR_data3['CTR'] = CTR_data3['click'] / CTR_data3['impression']
filtered_CTR_data3 = CTR_data3[~CTR_data3['CTR'].isna() & np.isfinite(CTR_data3['CTR']) & CTR_data3['CTR']>0]
TOP_10_rows3 = filtered_CTR_data3.nlargest(10, 'CTR')
TOP_10_rows3.index = np.arange(1, len(TOP_10_rows3)+1)
print(TOP_10_rows3[['pincode', 'device_os','click','impression','CTR']])

    pincode  device_os  click  impression       CTR
1    284001    ANDROID      7           6  1.166667
2    151205    ANDROID      9           8  1.125000
3    143530        IOS      1           1  1.000000
4    244231    ANDROID      1           1  1.000000
5    414701    ANDROID      1           1  1.000000
6    603112  CHROME OS      2           2  1.000000
7    609304    ANDROID      1           1  1.000000
8    610103    ANDROID      2           2  1.000000
9    752069    ANDROID      1           1  1.000000
10   781347    ANDROID      1           1  1.000000

In [39]:
#To display maximum 22772 rows 
pd.set_option('display.max_rows', 22772)

In [125]:
#To find the CTR based on 'date' for each 'line_item_id'
CTR_data4 = data.groupby(['date', 'line_item_id']).agg({'click': 'sum', 'impression': 'sum'}).reset_index()
CTR_data4['CTR'] = CTR_data4['click'] / CTR_data4['impression']
filtered_CTR_data4 = CTR_data4[~CTR_data4['CTR'].isna() & np.isfinite(CTR_data4['CTR']) & CTR_data4['CTR']>0]
TOP_10_rows4 = filtered_CTR_data4.nlargest(10, 'CTR')
TOP_10_rows4.index = np.arange(1, len(TOP_10_rows4)+1)
print(TOP_10_rows4[['date', 'line_item_id','click','impression','CTR']])

          date            line_item_id  click  impression       CTR
1   2023-09-07  D6q5q33Jd7858iVvr6gR69      3           8  0.375000
2   2023-09-07  A9DEaamKoTJPMPpRREFYGY      1           4  0.250000
3   2023-09-07  CyUMczn45ftS4HJUTRovck      2          11  0.181818
4   2023-09-07  AfnMmCDaWjNbL75fQTTWKx      1          10  0.100000
5   2023-09-07  dsCAWaw3Ekm5oNftKpgUrk      1          10  0.100000
6   2023-09-07  5yQxdpTD8MDvhSSabVo8Jr      9         148  0.060811
7   2023-09-08  J8StPzRXXtsyVfqQ3fVCM9     35        1470  0.023810
8   2023-09-07  J8StPzRXXtsyVfqQ3fVCM9    320       13648  0.023447
9   2023-09-07  TPd7vqyKcGikPjgvgRa9es  13525      687021  0.019686
10  2023-09-08  ViTEXZojgfeZfy4jgepPC5     91        4632  0.019646

In [124]:
#To find the CTR based on 'ad_type' for each 'line_item_id'
CTR_data5 = data.groupby(['ad_type', 'line_item_id']).agg({'click': 'sum', 'impression': 'sum'}).reset_index()
CTR_data5['CTR'] = CTR_data5['click'] / CTR_data5['impression']
filtered_CTR_data5 = CTR_data5[~CTR_data5['CTR'].isna() & np.isfinite(CTR_data5['CTR']) & CTR_data5['CTR']>0]
TOP_10_rows5 = filtered_CTR_data5.nlargest(10, 'CTR')
TOP_10_rows5.index = np.arange(1, len(TOP_10_rows5)+1)
print(TOP_10_rows5[['ad_type', 'line_item_id','click','impression','CTR']])

   ad_type            line_item_id  click  impression       CTR
1    VIDEO  J8StPzRXXtsyVfqQ3fVCM9    355       15118  0.023482
2    VIDEO  ViTEXZojgfeZfy4jgepPC5     99        5502  0.017993
3    VIDEO  R2yzV2SifRo3fdL3TeZRSx   1688       94885  0.017790
4    AUDIO  TPd7vqyKcGikPjgvgRa9es  14770      874696  0.016886
5    VIDEO  GjqbAfapKQuZqrvQQHaRNG   1537       94411  0.016280
6    VIDEO  4QvZGDp9sYb8viiQWCsFvN   1452       90719  0.016005
7    AUDIO  T2hEGNNfSraN6fsGbnxX6p    291       22638  0.012854
8    AUDIO  GvjBJA25A7qfpNTDHZgup9    277       24700  0.011215
9    VIDEO  SG4iV8g3WK2xJFckbNgV4b    587       56075  0.010468
10   VIDEO  j3GRhN7WJKpYjyXfSmYLHn    544       54440  0.009993